{% extends 'layout.html.twig' %}

{% block body %}
    <section class="container">
        {% include 'Fichiers/add.html.twig' %}
    </section>
    <section class="container">
        {% include 'Fichiers/show.html.twig' %}
    </section>
{% endblock %}